<div class="w-50 text-center mx-auto">
	<form method="POST" action="/games">
	<h5>
		Add a Game
	</h5>
	<div class="row add-game">
		<div class="col">
			<input class="form-control my-3" type="text" name="titleInput" placeholder="Title">
			<input class="form-control my-3" type="text" name="systemInput" placeholder="System">
			<input class="form-control my-3" type="text" name="imageUrlInput" placeholder="Cover Art URL">
			<button class="btn btn-primary btn-block">
				Add Game
			</button>
		</div>
	</div>
</form>
</div>