<!-- Requires Account -->

<%- include("../partials/header") %>

<%- include("../partials/comments/edit") %>

<div class="container">
	<a href="/games/<%= GameId %>" class="btn btn-secondary btn-sm">Go Back</a>
</div>

<%- include("../partials/footer") %>