<!-- Requires Account -->

<%- include("../partials/header") %>

<div class="container text-center">
	<h3>
		Commenting on <%= ViewModel.title %>
	</h3>
	<%- include("../partials/comments/new") %>
</div>

<%- include("../partials/footer") %>