<%- include("partials/header") %>

<div class="container text-center">
	<h1>
	Welcome to Gamezy
	</h1>
	
	<div class="">
		<a href="/games" class="btn btn-primary btn-md">
			Get Started
		</a>
	</div>
</div>


<%- include("partials/footer") %>