<div class="container">
	<form method="POST" action="/games/<%= ViewModel._id %>/comments" class="">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">Comment</span>
			</div>
			<input class="form-control" type="text" name="comment" required autofocus>
		</div>

		<button class="btn btn-success">
			Save Comment
		</button>

		<a href="/games/<%= ViewModel._id %>" class="btn btn-secondary btn-md">Go Back</a>
	</form>
</div>