<div class="w-50 mx-auto">
	<form method="POST" action="/games" class="text-center">
		<div class="row add-game">
			<div class="col">
				<input class="form-control my-3" type="text" name="titleInput" placeholder="Title" required>
				<input class="form-control my-3" type="text" name="systemInput" placeholder="System" required>
				<input class="form-control my-3" type="text" name="imageUrlInput" placeholder="Cover Art URL">
				<button class="btn btn-primary btn-block">
					Add Game
				</button>
			</div>
		</div>
	</form>
</div>