<!-- Requires Account -->

<%- include("../partials/header") %>

<%- include("../partials/games/edit") %>

<div class="container">
	<a href="/games/<%= ViewModel._id %>" class="btn btn-secondary btn-sm">Go Back</a>
</div>

<%- include("../partials/footer") %>