<!-- Requires Account -->

<%- include("../partials/header") %>

<%- include("../partials/games/new") %>

<div class="container">
	<a href="/games" class="btn btn-secondary btn-sm">Go Back</a>
</div>

<%- include("../partials/footer") %>